# MongoDB Connection
MONGODB_URI=mongodb+srv://antrakt92:<db_password>@cluster0.wtuc5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret for Authentication
JWT_SECRET=your_jwt_secret_here

# Server Port
PORT=5000

# Environment
NODE_ENV=production
